name: Deploy staging

on:
  push:
    branches:
      - "master"
jobs:
  Deploy:
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://azupx3hm25.execute-api.eu-central-1.amazonaws.com/staging/graphql
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - uses: actions/cache@v2
        with:
          path: |
            '**/node_modules'
            '**/build_output'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn install

      - name: Build node_modules for Lambda
        run: sudo yarn build:lambda

      - name: Prepare serverless.yml
        run: cp serverless-sample.yml serverless.yml

      - name: Prepare env.yml
        run: cp env-sample.yml env.yml

      - name: Deploy to AWS
        env:
          SERVERLESS_ACCESS_KEY: ${{secrets.SERVERLESS_ACCESS_KEY}}
        run: sudo yarn deploy
